.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.thumbnail{
    width: 30%;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.img-main{
    width: 100%;
    flex-shrink: 0;
}
h3{
    font-weight: 500;
    word-break: break-all;
    flex: 1;
}
button{
    background-color: #f2b705;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 35px;
    width: 150px;
    flex-shrink: 0;

}
@media screen and (max-width: 768px) {
    .thumbnail{
        width: calc(48% - 22px);
    }
}

@media screen and (max-width: 480px) {
    .thumbnail{
        width: 100%;
    }
}